@tailwind base;
@tailwind components;
@tailwind utilities;

.form-el {
  @apply flex flex-col;
}

.flex-center {
  @apply flex items-center;
}

.learning-card {
  background: linear-gradient(104.38deg, #f7c0ec 10.62%, #a7bdea 85.99%);
}

.learning-card2 {
  background: linear-gradient(104.01deg, #f6d5f7 2.67%, #fbe9d7 100%);
}
.learning-background {
  @apply h-48 absolute -z-10 right-0;
  mix-blend-mode: soft-light;
  -webkit-mix-blend-mode: soft-light;
  -moz-mix-blend-mode: soft-light;
}
.scroll-kiri {
  overflow-x: scroll;
}

p {
  @apply tracking-wider;
}

.text-secondary {
  @apply text-[#3F3F3F];
}
